div{
    border: solid 2px grey;
}
.box{
    background-color: aqua;
    width: 500px; 
    height: 200px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
p{
    border: solid 1px grey;
}
span{
    color: white;
    background-color: black;
    font-size: 1.5rem;
}
.background2{
    background-color: red;
}